<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
  </head>
  <body>
    <div id="map">
    </div>
    <script type="text/javascript" src="./javascripts/infobubble.js"> </script>
    <script type="text/javascript">

      var map; //<-- This is now available to both event listeners and the initMap() function
      var davis = {lat: 38.539047,lng: -121.750211};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: davis,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
        var marker = new google.maps.Marker({
        position: davis,
        map: map,
        title: 'Hello World!',
        icon: './images/smallpin.png',
        optimized: false
        });

        var kanye = "http://d39ya49a1fwv14.cloudfront.net/wp-content/uploads/2014/01/kanye-west.jpg";

        var eventBubble = new InfoBubble({
          content: "<img style='max-width:440px'src="+kanye+"> <br> <a style='color:#4A90E2' target='_blank'href='https://www.facebook.com/events/1048730378484224/'><h1 style='padding-bottom:10px;margin:0 22.5px;'>Katy Perry: Prism Tour @ UC Davis</h1></a> <a target='_blank'style='float:right' href='https://www.google.com/maps/dir//37.004,111.23/'><img style = 'max-width:35px;margin-right:70px;'src='./images/directions.png'></a><h2 style='color:#9B9B9B; margin-left:22.5px;'>February 26, 7:30pm-10pm </h2><h3 style='width:375px; margin:0 auto;padding-top:10px;'>Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. Learning is cool, but knowing is better, and I know the key to success. Life is what you make it, so let’s make it. Congratulations, you played yourself. Let’s see what Chef Dee got that they don’t want us to eat. To succeed you must believe. When you believe, you will succeed. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Stay focused.</h3>",
          maxWidth:420,
          maxHeight:400
        });

        marker.addListener('click', function() {
          eventBubble.open(map, marker);
          //marker.setVisible(false);
        });
        eventBubble.addListener('closeclick', function() {
          //marker.setVisible(true);
        });
        google.maps.event.addListener(map, "click", function(event) {
          eventBubble.close();
          //marker.setVisible(true);
        });
        populateMarkers();

        google.maps.event.addDomListener(window, 'load', initMap);
        google.maps.event.addDomListener(window, "resize", function() {
        console.log("freekesha");
        var center = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setCenter(center); 
        console.log("die young");
      });

      }
      function addCSSRule(sheet, selector, rules, index) {
        if ("insertRule" in sheet) {
            sheet.insertRule(selector + "{" + rules + "}", index);
        } else if ("addRule" in sheet) {
            sheet.addRule(selector, rules, index);
        }
    }
      function populateMarkers(){
        var testlocation = {lat: 38.439047,lng: -121.850211};
        var myFirebaseRef = new Firebase("https://hittup.firebaseio.com/events");
        var json=[];
        var objectKeys=[];
        var jsonArray=[];
        var data;
        var str = "";
        myFirebaseRef.once("value", function(snapshot) {
          data = snapshot.val();
          str = JSON.stringify(data);
          json = eval('[' + str + ']');   
          for (var i = json.length - 1; i >= 0; i--) {
            for (var key in json[i]) { //loop through the keys
                jsonArray.push(json[i][key]);
                console.log(jsonArray);
              }
          }
          console.log(jsonArray.length + " lol");
          //populate markers 
          for (var i = jsonArray.length - 1; i >= 0; i--) {
            var testmarker = new google.maps.Marker({
              position: testlocation,
              map: map,
              icon: './images/smallpin.png#'+ i,
              optimized: false
            });

            var profilePicture = jsonArray[i].profilePicture;
            addCSSRule(document.styleSheets[0],
                'img[src="' + './images/smallpin.png#' + i + '"]',
                'background:url('+profilePicture+') no-repeat 4px 3px;background-size:85px 51px;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;');

            //console.log(jsonArray[i].coverPhoto);

            var kanye = "http://d39ya49a1fwv14.cloudfront.net/wp-content/uploads/2014/01/kanye-west.jpg";
            
            var coverPhoto = jsonArray[i].coverPhoto;
            var eventURL = jsonArray[i].eventURL;
            var eventTitle = jsonArray[i].eventTitle;
            var completeDate = jsonArray[i].date+", "+jsonArray[i].startTime+ "-"+jsonArray[i].endTime; 
            var eventDescription = jsonArray[i].eventDescription;

            var eventBubble = new InfoBubble({
              content: "<img style='max-width:440px'src="+coverPhoto+"> <br> <a style='color:#4A90E2' target='_blank'href="+eventURL+"><h1 style='padding-bottom:10px;margin:0 22.5px;'>"+eventTitle+"</h1></a> <a target='_blank'style='float:right' href='https://www.google.com/maps/dir//37.004,111.23/'><img style = 'max-width:35px;margin-right:70px;'src='./images/directions.png'></a><h2 style='color:#9B9B9B; margin-left:22.5px;'>"+completeDate+"</h2><h3 style='width:375px; margin:0 auto;padding-top:10px;'>"+eventDescription+"</h3>",
              maxWidth:420,
              maxHeight:400
            });

            testmarker.addListener('click', function() {
              eventBubble.open(map, testmarker);
              //testmarker.setVisible(false);
            });
            eventBubble.addListener('closeclick', function() {
              //testmarker.setVisible(true);
            });
            google.maps.event.addListener(map, "click", function(event) {
              eventBubble.close();
              //testmarker.setVisible(true);
            });
          }
          });

        
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAVoOT1jOwDAdDi-W0KQOC-qHWisU_AY	
&callback=initMap">
    </script>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"
        type="text/javascript"></script>
  </body>
</html>